<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
</head>
<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>操作列表</h5>
                            <div class="ibox-tools">
                                <button id="backButton" class="btn btn-primary"
                                        type="button">&nbsp;&nbsp;&nbsp;&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;回&nbsp;&nbsp;&nbsp;&nbsp;
                                </button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="7%">操作编号</th>
                                        <th width="8%">药品名称</th>
                                        <th width="18%">供应商/产地</th>
                                        <th width="6%">规格</th>
                                        <th width="6%">进价</th>
                                        <th width="6%">售价</th>
                                        <th width="8%">操作类型</th>
                                        <th width="10%">买入/卖出数量</th>
                                        <th width="6%">单位</th>
                                        <th width="10%">操作人</th>
                                        <th>操作时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="operateLog : ${operateLogPageList}">
                                        <td th:text="${operateLog.id}">Onions</td>
                                        <td th:text="${operateLog.title}">Onions</td>
                                        <td th:text="${operateLog.supplier}">Onions</td>
                                        <td th:text="${operateLog.norm}">Onions</td>
                                        <td th:text="${operateLog.price}">Onions</td>
                                        <td th:text="${operateLog.sellPrice}">Onions</td>
                                        <td th:text="${operateLog.operate}">Onions</td>
                                        <td th:text="${operateLog.modifyNum}">Onions</td>
                                        <td th:text="${operateLog.unit}">Onions</td>
                                        <td th:text="${operateLog.realName}">Onions</td>
                                        <td th:text="${operateLog.operateTimeStr}">Onions</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <ul id="pageHTML" class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);
    });

    $("#backButton").click(function () {
        window.history.go(-1);
    });

</script>

</body>

</html>
