.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
.DS_Store
.externalToolBuilders
.pmd
*.iml
.settings/*
/indexes/*
/generated/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/target/