<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <!-- summernote style -->
    <link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>报告信息新增或修改</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>报告单管理</a>
                    </li>
                    <li>
                        <a>报告信息</a>
                    </li>
                    <li class="active">
                        <strong>新增或修改</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>新增或修改报告信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" action="checkResultEdit" method="POST" class="form-horizontal"
                                  enctype="multipart/form-data">

                                <input id="id" name="id" readonly="readonly" type="hidden"
                                       class="form-control"
                                       th:value="${checkResult.id}"/>
                                <div class="hr-line-dashed"></div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">患者姓名：</label>
                                    <div class="col-sm-3">
                                        <input id="patientName" name="patientName" type="text" class="form-control"
                                               th:value="${checkResult.patientName}"/>
                                    </div>

                                    <label class="col-sm-2 control-label">患者性别：</label>
                                    <div class="col-sm-3">
                                        <input id="patientSex" name="patientSex" type="text" class="form-control"
                                               th:value="${checkResult.patientSex}"/>
                                    </div>
                                </div>

                                <!--<div class="hr-line-dashed"></div>-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">患者年龄：</label>
                                    <div class="col-sm-3">
                                        <input id="patientAge" name="patientAge" type="text" class="form-control"
                                               th:value="${checkResult.patientAge}"/>
                                    </div>

                                    <label class="col-sm-2 control-label">患者住院号：</label>
                                    <div class="col-sm-3">
                                        <input id="patientHostNum" name="patientHostNum" type="text" class="form-control"
                                               th:value="${checkResult.patientHostNum}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">送检科室：</label>
                                    <div class="col-sm-3">
                                        <input id="inspecDepart" name="inspecDepart" type="text" class="form-control"
                                               th:value="${checkResult.inspecDepart}"/>
                                    </div>

                                    <label class="col-sm-2 control-label">床号：</label>
                                    <div class="col-sm-3">
                                        <input id="patientBedNum" name="patientBedNum" type="text" class="form-control"
                                               th:value="${checkResult.patientBedNum}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">门诊号：</label>
                                    <div class="col-sm-3">
                                        <input id="outpatService" name="outpatService" type="text" class="form-control"
                                               th:value="${checkResult.outpatService}"/>
                                    </div>

                                    <label class="col-sm-2 control-label">标本状态：</label>
                                    <div class="col-sm-3">
                                        <input id="specimenStatus" name="specimenStatus" type="text" class="form-control"
                                               th:value="${checkResult.specimenStatus}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">样本号：</label>
                                    <div class="col-sm-3">
                                        <input id="sampleNum" name="sampleNum" type="text" class="form-control"
                                               th:value="${checkResult.sampleNum}"/>
                                    </div>

                                    <label class="col-sm-2 control-label">送检日期：</label>
                                    <div class="col-sm-3">
                                        <input id="inspecDate" name="inspecDate" type="text" class="form-control"
                                               th:value="${checkResult.inspecDate}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">临床诊断：</label>
                                    <div class="col-sm-3">
                                        <input id="specimenType" name="specimenType" type="text" class="form-control"
                                               th:value="${checkResult.specimenType}"/>
                                    </div>

                                    <label class="col-sm-2 control-label">送检医师：</label>
                                    <div class="col-sm-3">
                                        <input id="inspecDoctor" name="inspecDoctor" type="text" class="form-control"
                                               th:value="${checkResult.inspecDoctor}"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">检验师：</label>
                                    <div class="col-sm-3">
                                        <input id="checkDoctor" name="checkDoctor" type="text" class="form-control"
                                               th:value="${checkResult.checkDoctor}"/>
                                    </div>

                                    <label class="col-sm-2 control-label">报告时间：</label>
                                    <div class="col-sm-3">
                                        <input id="checkReportDate" name="checkReportDate" type="text" class="form-control"
                                               th:value="${checkResult.checkReportDate}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" class="btn btn-primary" type="button">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                        <button id="backButton" class="btn btn-primary"
                                                type="button">&nbsp;&nbsp;&nbsp;&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;回&nbsp;&nbsp;&nbsp;&nbsp;
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- SUMMERNOTE -->
<script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        //初始化编辑器
        $('#summernote').summernote({
            height: 300,
            codemirror: {
                mode: 'text/html',
                htmlMode: true,
                lineNumbers: true,
                theme: 'monokai'
            }
        });
        //编辑器赋值

        //提交
        $("#submitButton").click(function () {
            if ($("#patientName").val() == "") {
                toastr.error('患者姓名', '提示');
                return;
            }
            if ($("#patientHostNum").val() == 0) {
                toastr.error('患者住院号', '提示');
                return;
            }
            if ($("#patientBedNum").val() == 0) {
                toastr.error('床号', '提示');
                return;
            }
            if ($("#sampleNum").val() == 0) {
                toastr.error('样本号', '提示');
                return;
            }
            $("#formTag").submit();
        });

        $("#backButton").click(function () {
            window.history.go(-1);
        });
    });
</script>

</body>

</html>
