<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
</head>
<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>报告信息列表</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>报告信息管理</a>
                    </li>
                    <li class="active">
                        <strong>报告信息列表</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>搜索&amp;操作</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="display: block;">
                            <form action="checkResultPage_0_0_0">
                                <div class="row">
                                    <div class="col-sm-2 m-b-xs">
                                        <input id="patientName" name="patientName" placeholder="患者名称" class="form-control"
                                               type="text" th:value="${checkResult.patientName}"/>
                                    </div>

                                    <div class="col-sm-2 m-b-xs">
                                        <input id="checkReportDate" name="checkReportDate" class="form-control" type="text"
                                               th:value="${checkResult.checkReportDate}" placeholder="报告时间"/>
                                    </div>
                                    <div class="col-sm-2 m-b-xs">
                                        <button class="btn btn-primary btn-block" type="submit"><i
                                                class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <a th:href="@{checkResultEdit}" class="btn btn-primary btn-sm" data-toggle="tooltip"
                                       data-placement="left" title="" data-original-title="Refresh inbox"><i
                                            class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;新增报告信息&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                                <div class="col-sm-6 m-b-xs">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>检验报告信息列表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class=" table table-hover" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th width="4%">ID</th>
                                        <th width="7%">患者姓名</th>
                                        <th width="4%">性别</th>
                                        <th width="4%">年龄</th>
                                        <th width="5%">住院号</th>
                                        <th width="7%">送检科室</th>
                                        <th width="7%">床号</th>
                                        <th width="7%">标本类型</th>
                                        <th width="5%">门诊号</th>
                                        <th width="7%">标本状态</th>
                                        <th width="5%">样本号</th>
                                        <th width="8%">送检日期</th>
                                        <th width="7%">送检医师</th>
                                        <th width="6%">检验师</th>
                                        <th width="8%">报告时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="checkResult : ${checkResultPageList}">
                                        <td th:text="${checkResult.id}">Onions</td>
                                        <td th:text="${checkResult.patientName}">Onions</td>
                                        <td th:text="${checkResult.patientSex}">Onions</td>
                                        <td th:text="${checkResult.patientAge}">Onions</td>
                                        <td th:text="${checkResult.patientHostNum}">Onions</td>
                                        <td th:text="${checkResult.inspecDepart}">Onions</td>
                                        <td th:text="${checkResult.patientBedNum}">Onions</td>
                                        <td th:text="${checkResult.specimenType}">Onions</td>
                                        <td th:text="${checkResult.outpatService}">Onions</td>
                                        <td th:text="${checkResult.specimenStatus}">Onions</td>
                                        <td th:text="${checkResult.sampleNum}">Onions</td>
                                        <td th:text="${checkResult.inspecDate}">Onions</td>
                                        <td th:text="${checkResult.inspecDoctor}">Onions</td>
                                        <td th:text="${checkResult.checkDoctor}">Onions</td>
                                        <td th:text="${checkResult.checkReportDate}">Onions</td>
                                        <td>
                                            <a th:href="@{'checkResultEdit?id='+${checkResult.id}}" title="修改"><i class="fa fa-edit text-navy"></i></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" th:onclick="'javascript:checkResultDelete('+${checkResult.id}+',2);'" title="删除">
                                                <i class="fa fa-trash-o text-navy"></i></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" th:onclick="'javascript:setId('+${checkResult.id}+');'"
                                               title="文件处理"  data-toggle="modal" data-target="#receivables">
                                                <i class="fa fa-file-word-o text-navy"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            <ul id="pageHTML" class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>
<!-- 报告单处理模态框 -->
<div class="modal fade" id="receivables" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel4">报告单处理</h4>
            </div>
            <div class="modal-body">
                <form action="detailCheckReportsZip" method="post" id="checkResult_form"  enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">文件：</label>
                            <input id="files" type="file" multiple name="files" value="上传"/>
                            <input id="checkResultId" name="checkResultId" type="text" th:hidden="true"/>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" onclick="detailCheckReports()" class="btn btn-primary">处理</button>
            </div>
        </div>
    </div>
</div>
<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);
    });

    /*<![CDATA[*/
    function checkResultDelete(id, state, commendState) {
        var deleteTag;
        if (state == 2) {
            deleteTag = confirm("确定删除此条信息?");
        } else {
            deleteTag = true;
        }
        if (deleteTag) {
            $.ajax({
                type: "POST",
                url: "checkResultDelete?id=" + id,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    window.location.reload();
                },
                error: function () {
                    alert("系统异常！");
                }
            });
        }
    }

    function setId(id) {
        $("#checkResultId").val(id);
    }

    function detailCheckReports() {
        $("#checkResult_form").submit();
    }

    /*]]>*/
</script>

</body>

</html>
